/* Copyright (C) 2020 by Mattia Monga <mattia.monga@unimi.it> */
body {
    text-align: center;
    font-size: 150%;
    background-color: seashell;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 1%;
    align-items: center;
}

#operazione {
    font-size: 300%;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

canvas {
    touch-action: none;
    cursor: pointer;
}

#label_d {
    grid-column: 2;
    grid-row: 1;
}

#decine {
    border: 3px solid magenta;
    grid-column: 2;
    grid-row: 2;
}


#label_u {
    grid-column: 3;
    grid-row: 1;
}

#unita {
    border: 3px solid cyan;
    grid-column: 3;
    grid-row: 2;
}

#interazione {
    grid-column: 1 / 4;
    grid-row: 3;
}

#pulsante {
    font-size: 150%;
}

.check {
    background-color: lightblue;
}

.ok {
    background-color: lightgreen;
}

.ko {
    background-color: red;
}

.footnote {
    margin-top: 50px;
    font-size: 30%;
}
